.top_slider_wrapp .flexslider {
	height: 303px !important;
}
.top_slider_wrapp .flexslider .slides > li, .top_slider_wrapp .flexslider .slides > li, .top_slider_wrapp .flexslider .slides > li td, .top_slider_wrapp .flexslider .slides > li td, .top_slider_wrapp .flexslider, .top_slider_wrapp .flexslider {
	height: 303px !important;
}
.flexslider .slides>li .img img {
	right: 0;
}